@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../tailwind/components/components.css";

html {
    font-family: var(--font-poppins);
}

.arenq {
    font-family: var(--font-arenq);
}

.beckman {
    font-family: var(--font-beckman);
}

.mova {
    font-family: var(--font-mova);
}

.overcamebold {
    font-family: var(--font-overcamebold);
}

.overcameoutline {
    font-family: var(--font-overcameoutline);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #292929;
    margin: auto;
    transition: 0.5s;
}

.nav-links:hover::after {
    width: 70%;
}

#about {
    margin-left: -24px;
    font-size: 100px;
}

